---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//Google fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$open-sans: 'Open Sans', sans-serif;
$family-primary: $open-sans;

// Our variables
$base-font-family: Helvetica, Arial, sans-serif; // Overridden by our google fonts
$base-font-size:   22px;
$small-font-size:  $base-font-size * 0.875;
// $small-font-size:  $base-font-size;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #00897B;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import Bulma
@import "bulma/bulma";
@import "syntax-highlighting";
@media (max-width: $tablet) {
    .hero.is-primary a.nav-item {
    	color: rgba(255, 255, 255, 0.8)
    }
}

#footer-icons {
	a {
		border-bottom: 0px;
	}
	.icon {
		height: auto;
		width: 36px;
	}
	.fa {
		font-size: 1.5em;
		vertical-align: middle;
	}
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-content {
    margin-bottom: $spacing-unit;
    font-size: 16px;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.nav-left {
	overflow: visible;
}

// /**
//  * Clearfix
//  */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.home, .post {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

ul {
	list-style: inherit;
}

