<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>I use small ads to help with server costs. They should never be intrusive, abusive, or keep you away from the good stuff</p>
      <p>Please support me by clicking the ads, and report them if they are out of line.</p>
      <div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- nickstalter -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1093990846577533"
             data-ad-slot="8855210408"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <p>
        {{ site.description }}
      </p>
      <p id="footer-icons">
        <a href="mailto:{{ site.email }}" class="icon">
          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
        </a>
        {% if site.gitlab_username %}
          <a href="https://github.com/{{ site.github_username }}" class="icon">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </a>
        {% endif %}

        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}" class="icon">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        {% endif %}

        {% if site.linkedin_url %}
          <a href="{{ site.linkedin_url }}" class="icon">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        {% endif %}
      </p>
    </div>
  </div>
</footer>
